In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv("test1.csv")

       Name  Age
0     Krish   31
1  Sudhashy   26
2     Sunny   24

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv("test1.csv")

In [20]:
df_pyspark = spark.read.option('header','true').csv("test1.csv")

In [21]:
print("pandas: ", type(pd.read_csv("test1.csv")))
print("pyspark: ", type(df_pyspark))

pandas:  <class 'pandas.core.frame.DataFrame'>
pyspark:  <class 'pyspark.sql.dataframe.DataFrame'>

In [22]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='Sudhashy', Age='26'),
 Row(Name='Sunny', Age='24')]

In [24]:
 df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [22]:
# tutorial 2 - Pyspark DataFrame - part1

#PySpark Dataframe
#Reading The Dataset
# Checking the Datatypes of the Column(Schema)
# Selecting Columns And Indexing
# Check Describe option similar to Pandas
# Adding Columns
# Dropping columns
# Renaming Column

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [3]:
spark

In [4]:
 ## read th dataset
df_pyspark = spark.read.option("header", "true").csv("test1.csv")

In [5]:
## Check th Schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [7]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [8]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31', Experience='8'),
 Row(Name='Sudhashy', Age='26', Experience='4'),
 Row(Name='Sunny', Age='24', Experience='8')]

In [9]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhashy| 26|         4|
|   Sunny| 24|         8|
+--------+---+----------+

In [10]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Krish|         8|
|Sudhashy|         4|
|   Sunny|         8|
+--------+----------+

In [11]:
df_pyspark['Name']

Column<'Name'>

In [12]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'string'), ('Experience', 'string')]

In [13]:
df_pyspark.describe().show()

+-------+-----+-----------------+------------------+
|summary| Name|              Age|        Experience|
+-------+-----+-----------------+------------------+
|  count|    3|                3|                 3|
|   mean| null|             27.0| 6.666666666666667|
| stddev| null|3.605551275463989|2.3094010767585034|
|    min|Krish|               24|                 4|
|    max|Sunny|               31|                 8|
+-------+-----+-----------------+------------------+

In [14]:
#### Adding Cplums in data frame
df_pyspark = df_pyspark.withColumn('Experience After 2 year', df_pyspark['Experience']+2)
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|   Krish| 31|         8|                   10.0|
|Sudhashy| 26|         4|                    6.0|
|   Sunny| 24|         8|                   10.0|
+--------+---+----------+-----------------------+

In [17]:
#### Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 year')

In [18]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhashy| 26|         4|
|   Sunny| 24|         8|
+--------+---+----------+

In [20]:
### Rename th columns
df_pyspark.withColumnRenamed("Name", "New name").show()

+--------+---+----------+
|New name|Age|Experience|
+--------+---+----------+
|   Krish| 31|         8|
|Sudhashy| 26|         4|
|   Sunny| 24|         8|
+--------+---+----------+

In [1]:
## Pyspark DataFrame - Handling Missing vlaues

# Dropping Columns
# Dropping Rows
# various Parameter in Dropping functionallities
# Handling Missing values by Mean, MEdian And mode

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [3]:
spark

In [9]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [10]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|         8| 30000|
|Sudhashy|  26|         4| 25000|
|   Sunny|  24|         8| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [11]:
## Drop th columns
df_pyspark.drop("Name").show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|         8| 30000|
|  26|         4| 25000|
|  24|         8| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
+----+----------+------+

In [12]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|         8| 30000|
|Sudhashy|  26|         4| 25000|
|   Sunny|  24|         8| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [13]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
|   Sunny| 24|         8| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| shubham| 23|         2| 18000|
+--------+---+----------+------+

In [18]:
### any==how
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
|   Sunny| 24|         8| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| shubham| 23|         2| 18000|
+--------+---+----------+------+

In [23]:
###threshold
df_pyspark.na.drop(how="any", thresh=2).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|         8| 30000|
|Sudhashy|  26|         4| 25000|
|   Sunny|  24|         8| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [24]:
##Subset
df_pyspark.na.drop(how="any", subset=['Experience']).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
|   Sunny| 24|         8| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| shubham| 23|         2| 18000|
|    null| 34|        10| 38000|
+--------+---+----------+------+

In [26]:
### Filling the missing value
df_pyspark.na.fill("Missing Values",["Experience", "age"]).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|         8| 30000|
|Sudhashy|  26|         4| 25000|
|   Sunny|  24|         8| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [27]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|         8| 30000|
|Sudhashy|  26|         4| 25000|
|   Sunny|  24|         8| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| shubham|  23|         2| 18000|
|  Mahesh|null|      null| 40000|
|    null|  34|        10| 38000|
+--------+----+----------+------+

In [33]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', "Experience", "Salary"],
    outputCols = ["{}_imputed".format(c) for c in ['Age', "Experience", "Salary"]]
).setStrategy("median")

In [34]:
## Add imputation cols to df
## Imputer 클래스를 사용해 빈 값들을 각 컬럼의 평균값으로 대체하는 데이터 전처리 작업
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Krish|  31|         8| 30000|         31|                 8|         30000|
|Sudhashy|  26|         4| 25000|         26|                 4|         25000|
|   Sunny|  24|         8| 20000|         24|                 8|         20000|
|    Paul|  24|         3| 20000|         24|                 3|         20000|
|  Harsha|  21|         1| 15000|         21|                 1|         15000|
| shubham|  23|         2| 18000|         23|                 2|         18000|
|  Mahesh|null|      null| 40000|         24|                 4|         40000|
|    null|  34|        10| 38000|         34|                10|         38000|
+--------+----+----------+------+-----------+------------------+--------------+

In [1]:
## Tutorial 4 - Pyspark DataFrames-Filter operation.

# Pyspark DataFrames

# Filter Operation
# & ! ==
# ~

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [4]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
|   Sunny| 24|         8| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| shubham| 23|         2| 18000|
+--------+---+----------+------+

In [5]:
## Fliter Operations
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 24|         8| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|shubham| 23|         2| 18000|
+-------+---+----------+------+

In [6]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 24|
|   Paul| 24|
| Harsha| 21|
|shubham| 23|
+-------+---+

In [7]:
df_pyspark.filter(df_pyspark['Salary']<20000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|shubham| 23|         2| 18000|
+-------+---+----------+------+

In [9]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
|   Sunny| 24|         8| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| shubham| 23|         2| 18000|
+--------+---+----------+------+

In [10]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & (df_pyspark['Salary'] >= 15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 24|         8| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|shubham| 23|         2| 18000|
+-------+---+----------+------+

In [14]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|         8| 30000|
|Sudhashy| 26|         4| 25000|
+--------+---+----------+------+

In [1]:
## Tutorial 5 Pyspark With Python-GroupBy and aggregation.
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [2]:
spark

In [4]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+--------+------------+------+
|    Name| Departments|Salary|
+--------+------------+------+
|   Krish|Data Science| 10000|
|   Krish|         IOT|  5000|
|Sudhashy|         IOT|  4000|
|   Sunny|    Big Data|  4000|
|    Paul|    Big Data|  3000|
|  Harsha|Data Science| 20000|
| shubham|Data Science| 10000|
| shubham|         IOT|  5000|
| shubham|    Big Data| 10000|
|   Sunny|Data Science|  2000|
+--------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [10]:
## GroupBy
### Grouped to find the maximum salary
df_pyspark.groupBy("Name").sum().show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Sudhashy|       4000|
| shubham|      25000|
|   Sunny|       6000|
|   Krish|      15000|
|  Harsha|      20000|
|    Paul|       3000|
+--------+-----------+

In [11]:
### Groupby Departments which gives maximum salasy
df_pyspark.groupBy("Departments").sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      14000|
|    Big Data|      17000|
|Data Science|      42000|
+------------+-----------+

In [12]:
df_pyspark.groupBy("Departments").mean().show()

+------------+-----------------+
| Departments|      avg(Salary)|
+------------+-----------------+
|         IOT|4666.666666666667|
|    Big Data|5666.666666666667|
|Data Science|          10500.0|
+------------+-----------------+

In [14]:
 df_pyspark.groupBy("Departments").count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    4|
+------------+-----+

In [15]:
df_pyspark.agg({'Salary': 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [16]:
df_pyspark.groupBy('Name').min().show()

+--------+-----------+
|    Name|min(Salary)|
+--------+-----------+
|Sudhashy|       4000|
| shubham|       5000|
|   Sunny|       2000|
|   Krish|       5000|
|  Harsha|      20000|
|    Paul|       3000|
+--------+-----------+

In [17]:
df_pyspark.groupBy('Name').avg().show()

+--------+-----------------+
|    Name|      avg(Salary)|
+--------+-----------------+
|Sudhashy|           4000.0|
| shubham|8333.333333333334|
|   Sunny|           3000.0|
|   Krish|           7500.0|
|  Harsha|          20000.0|
|    Paul|           3000.0|
+--------+-----------------+

In [21]:
## Example Of PySpark ML
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Missing").getOrCreate()

In [22]:
training = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [23]:
training.show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|   Krish| 30|         8| 25000|
|Sudhashy| 29|         4| 20000|
|   Sunny| 24|         3| 20000|
|    Paul| 21|         1| 15000|
|  Harsha| 23|         2| 18000|
+--------+---+----------+------+

In [24]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [25]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [27]:
# [Age,Experience] ----> new feature ---> independent feature

In [29]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols= ["age", "Experience"], outputCol= "Independent Features")

In [31]:
output = featureassembler.transform(training)

In [32]:
output.show()

+--------+---+----------+------+--------------------+
|    Name|age|Experience|Salary|Independent Features|
+--------+---+----------+------+--------------------+
|   Krish| 31|        10| 30000|         [31.0,10.0]|
|   Krish| 30|         8| 25000|          [30.0,8.0]|
|Sudhashy| 29|         4| 20000|          [29.0,4.0]|
|   Sunny| 24|         3| 20000|          [24.0,3.0]|
|    Paul| 21|         1| 15000|          [21.0,1.0]|
|  Harsha| 23|         2| 18000|          [23.0,2.0]|
+--------+---+----------+------+--------------------+

In [33]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [35]:
finalized_data =output.select("Independent Features", "Salary")

In [36]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [38]:
from pyspark.ml.regression import LinearRegression
## train test split
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol="Salary")
regressor = regressor.fit(train_data)

In [39]:
## coefficients
regressor.coefficients

DenseVector([0.0, 1589.7436])

In [40]:
## Intercepts
regressor.intercept

13358.974358973992

In [41]:
## Prediction
pred_results = regressor.evaluate(test_data)

In [43]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [23.0,2.0]| 18000|16538.461538461514|
|          [24.0,3.0]| 20000|18128.205128205107|
+--------------------+------+------------------+

In [44]:
pred_results.meanAbsoluteError, pred_results.meanSquaredError

(1666.6666666666897, 2819855.358316973)